@use '../mixins' as *;
@use '../colors' as c;

.container {
  @include flex(center, flex-end);
  @include size(100%, 50vw);
  
  background: c.$gray-100;
  background-image: url('/b.png');
  background-size: cover;
  background-position: -21.5rem;
  color: c.$text-primary;
  flex-direction: column;
  padding: 20px;
  
  h2, h3 {
    color: white;
    margin-bottom: 20px;
  }
}
