@use '../mixins' as *;
@use '../colors' as c;

.container {
  @include flex(flex-end, flex-start);
  @include size(100%, 50vw);
  
  background: c.$gray-100;
  background-image: url('/b.png');
  background-size: cover;
  background-position: -21.5rem;
  color: c.$text-primary;
  padding: 20px;
}
